*{
    margin: 0;
}
.productCardBorder{
    max-width: auto;
    text-align: center;
    margin: 5vh 5vw;
    transition: transform 0.1s;
    background-color: white;
}
.productCardBorder:hover{
    transform: scale(1.05, 1.05);
}
.productCardSection{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
}