.carousel-img{
    width: 100%;
    height: 70vh;
}

.carousel-item{
    mask-image: linear-gradient(to bottom,  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-color: #f3f4f4dc;
}
#carouselExampleIndicators{
    max-height: 50vh;
    padding: 0 50px;    
    margin-bottom: -150px;
}