.cardBorder{
    text-align: center;
    background-color: white;
    padding: 10px 0;
    margin: 20px 0;
    z-index: 10;
}

.cardSection{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f3f4f4;
}